[
  {
    title: "Paddling Disqus"
    paths: [
      "/Users/kswedberg/repos/paddling-disqus"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Paddling"
    paths: [
      "/Users/kswedberg/Sites/paddling"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Fmjs"
    paths: [
      "/Users/kswedberg/Sites/fmjs"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
]
